<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="messenger2" class="terela.com.spring2.MessengerImpl"/>
    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateInstance"/>

    <bean id="writer2" class="terela.com.spring2.WriterToFileImpl" scope="prototype">
    <constructor-arg>
        <bean class="java.util.Date"/>
    </constructor-arg>
    <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="app2" class="terela.com.spring2.Application">
        <constructor-arg ref="writer2" />
        <constructor-arg ref="messenger2"/>
    </bean>

</beans>
